body {
    font-family: sans-serif;
    margin: auto 20%;
}

#agreements-wrap {

}

.card {
    background-color: cornsilk;
    padding: 10px;
}

#meta {
    padding:40px;
    font-size: smaller;
}
#notes {
    padding:40px;
    font-size: smaller;
    font-style: italic;
}