body {
    font-family: sans-serif;
    margin: auto 20%;
    background-color: aliceblue;

}

#agreements-wrap {
    padding: 3px;
    background-color:lightgray;


}

.card {
    padding: 10px;
    background-color: white;

}

.card-content {
    padding:4px;
}
#meta {
    padding:40px;
    font-size: smaller;
}
#notes {
    padding:40px;
    font-size: smaller;
    font-style: italic;
}

.label {
    border-width: 1px;
    border-style: solid;
}

